*{
    margin: 0;
    padding: 0;
}
.about{
    display: grid;
    grid-template-rows: 60vh 40vh;
    grid-template-columns: 1.3fr .7fr;
    background: black;
}
.dot{
    color: white;
    font-size: 200px;
    margin: -170px 0px 0px 500px;
}