*{
    margin: 0;
    padding: 0;
}
.about{
    background: rgb(0, 0, 0);
    background-image: url(./source/bgPortfoliyo.png);
}
.dot{
    color: white;
    font-size: 200px;
    margin: -150px 0px 0px 500px;
    color: #0047FF;
}
.resume{
    margin: -78px 0px 0px 540px;
}
.subHeading{
    margin: 40px 10px 15px 50px;
    color: #0047FF;
}
.box{
    margin-left: 8px;
    background: white;
    width: 900px;
    height: 200px;
    transition: transform 2s ease-in;
}
.about:hover .box{
    transform: translateX(50%);
}
.box2{
    margin: 10px 0px 0px 438px;
    background: white;
    width: 900px;
    height: 200px;
    transition: transform 2s ease-in;
}
.about:hover .box2{
    transform: translateX(-50%);
}
.experience-edit{
    font-size: 25px;
}