*{
    margin: 0;
    padding: 0;
}
.project{
    background-image: url(./source/projects.jpg);
    height: 100vh;
    width: 100vw;
}

.dot2{
    position: absolute;
    color: white;
    font-size: 200px;
    margin: -150px 0px 0px 500px;
    color: #0047FF;
}
.projects-heading{
    position: absolute;
    margin: 37px 0px 0px 540px;
}
.project-box{
    position: absolute;
    height: 300px;
    width: 280px;
    border-radius: 20%;
    background-color: #0047FF;
    box-shadow: 5px 6px 30px white;
    margin: 200px 0px 0px 150px;
    
}
.project-box2{
    position: absolute;
    height: 300px;
    width: 280px;
    border-radius: 20%;
    background-color: #0047FF;
    box-shadow: 5px 6px 20px white;
    margin: 200px 0px 0px 500px
}
.project-box3{
    position: absolute;
    height: 300px;
    width: 280px;
    border-radius: 20%;
    background-color: #0047FF;
    box-shadow: 5px 6px 30px white;
    margin: 200px 0px 0px 850px;
}
.project-box:hover{
    transform: scale(1.1);
}
.project-box2:hover{
    transform: scale(1.1);
}
.project-box3:hover{
    transform: scale(1.1);
}